body {
  background-color: #757373;
}

#corpo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#login {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 80%;
  background: #f0f0f0;
  border-radius: 20px;
  color: #232323;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 10px #f0f0f0;
}

h1 {
  position: absolute;
  top: 1em;
}

button {
  position: absolute;
  bottom: 4em;
}
